.user-avatar {
    background-color: #E6E0FF;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #8B7EF8;
}

.user-avatar.large {
    width: 120px;
    height: 120px;
    font-size: 45px;
}

.avatar-image {
    width: 120%;
    height: 120%;
    object-fit: cover; /* This ensures the image covers the space properly */
}

.user-avatar.small {
    width: 60px;
    height: 60px;
    font-size: 30px;
}
